* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

body {
  background-color: #f0f0f0;
}

.main {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border: 2px solid rgb(198, 21, 21);
  margin: 2.4rem auto;
  position: relative;
  border-radius: 1.5rem;
}

.heading {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  height: 10rem;
  background-color: #077fe8;
  text-align: center;
  color: white;
}

.heading h2 {
  margin-top: 3rem;
  color: white;
}

.container {
  position: relative;
  top: -2rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 2.5rem;
  box-shadow: 0 15px 20px #ccc;
}

.elements {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.element1,
.element2,
.element3 {
  flex: 1;
}

.element1 img,
.element3 img {
  border-radius: 10% 50%;
}

.element2 h1 {
  color: #0085fa;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.element2 h2 {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: black;
  font-weight: bolder;
}

.element2 hr {
  height: 0.3rem;
  width: 1.5rem;
  background-color: #0085fa;
  margin-top: 0.4rem;
}

.element2 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome h2 {
  text-align: center;
  margin-top: 1rem;
}

.inputs {
  text-align: center;
  margin-top: 2rem;
}

form input[type="text"],
form input[type="password"] {
  width: 90%;
  padding: 0.9rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  background-color: #077fe8;
  color: #fff;
  outline: none;
}

form input::placeholder {
  color: #aaa;
}

.button-change {
  margin-top: 1rem;
  text-align: center;
}

.button-change button {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: #0085fa;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.button-change button:hover {
  background-color: #077fe8;
}

.bottom {
  text-align: center;
  padding: 1rem 0;
  color: #0085fa;
}

.down {
  text-align: center;
  padding: 1rem;
}

.down p {
  font-size: 1rem;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .elements {
    flex-direction: column;
  }

  .element1,
  .element2,
  .element3 {
    width: 100%;
  }
}
